[% IF isSubject %]
    [% PERL %]
        my $headCommit = $stash->get('head_commit') // {};
        my $repo       = $stash->get('repository') // {};
        my $logmsg     = $head_Commit->{message} // '';
        $logmsg        =~ s/\n{1,}/; /gm;

        if (length($logmsg) > 54) {
            $logmsg =~ s/^(.{51}).+/$1.../;
        }

        print join(' ',
            'GitHub -',
            '['  . ($repo->{full_name} // '') . ']',
            substr($headCommit->{id} // '', 0, 6)  . ':',
            $logmsg
        );
    [% END %]
[% ELSE %] # body
Branch: [% ref %]
Home:   [% url %]


[% FOREACH commit IN commits %]
Commit: [% commit.id %]
        [% commit.url %]
Author: [% commit.author.name %], [% commit.author.email %]
Date:   [% TRY %]
    [% PERL %]
        my $ds = $stash->get('commit')->{timestamp} // '';
        $ds    =~ s/T(\d{1,2}:\d{1,2}:\d{1,2}).+$/ $1/;

        $ds = Time::Piece
            ->strptime($ds, '%Y-%m-%d %T')
            ->strftime('%A, %Y-%m-%d %T');

        print $ds;
    [% END %]
[% CATCH %]
    [% commit.timestamp %] ([% error.info %])
[% END %]

Changed paths:
[% FOREACH changetype IN [
    {
        changes => commit.added,
        type    => 'A',
    },
    {
        changes => commit.modified,
        type    => 'M',
    },
    {
        changes => commit.removed },
        type    => 'D',
    },
] %]
    [% FOREACH path IN changetype.changes %]
  [% changetype.type %] [% path %]
    [ % END %]
[ % END %]

Log Messages:
------------
[% commit.message %]


Compare: [% compare %]


*This email replaces deprecated GitHub mail service.
[% END %]
