[% IF isSubject %]
[% PERL %]
    my $headCommit = $stash->get('head_commit') // {};
    my $repo       = $stash->get('repository') // {};

    unless (ref($headCommit) eq 'HASH') {
        $headCommit = {};
    }
    
    unless (ref($repo) eq 'HASH') {
        $repo = {};
    }

    my $logmsg     = $headCommit->{message} // '';
    $logmsg        =~ s/\n{1,}/; /gm;

    if (length($logmsg) > 54) {
        $logmsg =~ s/^(.{51}).+/$1.../;
    }

    print join(' ',
        'GitHub - push -',
        '['  . ($repo->{full_name} // '') . ']',
        substr($headCommit->{id} // '', 0, 6)  . ':',
        $logmsg
    );
[% END %]
[% ELSE %]
Branch: [% ref %]

Home:   [% repository.url %]



[% FOREACH thisCommit IN commits -%]
Commit: [% thisCommit.id %]

        [% thisCommit.url %]

Author: [% thisCommit.author.name %], [% thisCommit.author.email %]

Date:   [% TRY %]
[% PERL %]
        my $ds = $stash->get('thisCommit')->{timestamp} // '';
        $ds    =~ s/T(\d{1,2}:\d{1,2}:\d{1,2}).+$/ $1/;

        $ds = Time::Piece
            ->strptime($ds, '%Y-%m-%d %T')
            ->strftime('%A, %Y-%m-%d %T');

        print $ds;
[% END %]
[% CATCH %]
    [% commit.timestamp %] ([% error.info %])
[% END %]


Changed paths:
[% FOREACH thisAdd IN thisCommit.added -%]
A [% thisAdd %]

[% END %]
[% FOREACH thisMod IN thisCommit.modified -%]
M [% thisMod %]

[% END %]
[% FOREACH thisDel IN thisCommit.removed -%]
D [% thisDel %]

[% END %]


Log Messages:
------------
[% thisCommit.message %]

[% END %]


Compare: [% compare %]


*This email replaces deprecated GitHub mail service.
[% END %]
